<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hot drinks</h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Orange Juice</li>
      <li>Hot Chocolate</li>
      <li>Espresso</li>
      <li>Green Tea</li>
      <li>Latte</li>
      <li>add more...</li>
    </ul>
  </body>
</html>